[submodule "project/5900X-Project"]
	path = project
	url = git@github.com:willfindlay/5900X-Project.git
[submodule "5900X-Assignment"]
	path = assignment
	url = git@github.com:willfindlay/5900X-Assignment.git
